:root{
    --main-color: #1E1E1E;
    --secondary-color:#4a5d5a;
    --background-color: #2c2c2c;
    --text-color: #E0E0E0;
    --border-color: #444444;
    --accent-color: #697565;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

h2{
    text-align: center;
    background-color: var(--main-color);
    font-size: 18pt;
    width: fit-content;
    padding: 10px;
    margin: 3px auto;
    border-radius: 5px;
}

.siteTitle {
    margin:auto;
    background-color: var(--main-color);
    font-size: 20pt;
    font-weight: bold;
    width:fit-content ;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

main {
    width: 75%;
    max-width: 600px;
    margin:auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}

form input {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width: 300px;
    text-align: center;
}

header {
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
}

.taskListTitle {
    margin: auto;
    margin-top: 10px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}


.completed {
    background-color: green;
}